* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Crimson Text", serif;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
}

/* 01 SECCION 1 PROMO DE LA PAGINA*/

.todo {
	display: grid;
	background: linear-gradient(#924a8b 28%, #af4c83 100%);
	padding-bottom: 4rem;
}

.promo {
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	margin-top: 3rem;
	align-items: center;

}

.promo-titulo {
	font-size: 2rem;
	font-weight: bolder;
	color: white;
	padding-top: 3rem;
	/* padding-left: 15rem; */
}
.promo-contenido {
	font-size: 1rem;
	font-weight: lighter;
	color: white;
	/* padding-left: 15rem; */
}

/* 02 SECCION 2 TARJETAS CON PRODUCTOS*/

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	/* grid-template-rows: 100px 1fr; */
	/* grid-template-columns: repeat(4, 1fr) /* 300px 300px 1fr 1fr */
	grid-gap: 5px;
	place-items: center;
	padding: 10px;
}
.tarjeta {
	/* display: grid; */
	border-radius: 10px;
	/* grid-template-columns: repeat(4, 1fr); */
	/* padding: 1rem; */
	transition: all 1s ease-in-out;
}

.tarjeta:hover {
	transform: scale(1.1);
	box-shadow: 13px 15px 37px black;
	overflow: hidden;
}

/*03 SECCION 3 QUIENES SON NUESTROS PROVEEDORES Y CLIENTES */

.proveedores {
	display: flex;
	flex-direction: column;
	background: white;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	margin-top: 0rem;
	padding-bottom: 10rem;
	align-items: center;
	padding-left: 5rem;
}

.proveedores-titulo {
	font-size: 2rem;
	font-weight: bolder;
	color: #924a8b;
	padding-top: 2rem;
	/* padding-left: 30rem; */
}
.proveedores-contenido {
	font-size: 1rem;
	font-weight: lighter;
	color: black;
	/* padding-left: 20rem; */
}

/*04 SECCION 4 ACORDEON */
.aco{
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(1px, 1fr)); */
	grid-template-rows: 100px 100px;
	background: linear-gradient(#924a8b 28%, #af4c83 100%);
	padding: 3rem;
	/* align-items:normal; */
	max-width: fit-content; /* este lo hace achicar al tamaño del boton */
	/* align-self: auto; */
	justify-self: auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	place-content: center;
	
}
@media (min-width: 768px) {
	.aco {
	display: grid;
	margin-left: 550px;
	}
}

/*05 SECCION 5 TRES TARJETAS CON DIBUJITOS */

.card-group{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 5rem;
	text-align: center;
	padding-left: 5rem;
	text-align: center;

}

.card {
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	max-width: 350px;
	border-radius: 1rem;
}


.card-img-top{
	height: 30vh;
	width: 30vh;

}

.card-title{
	color: #924a8b;
	font-size: 2rem;
	text-align: center;
}

.card-text {
	font-weight: bold;
}

.boton-amarillo{
		background-color: #fec340;
	border: none;
	size: 200px;
	height: 5vh;
	width: 20vh;
	border-radius: 30%;
	text-align: center;
}

/* 06 SECCION 6 TARJETAS FAMILIA FELIZ */
.familiafeliz {
	display: flex;
	flex-direction: column;
	background: white;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	margin-top: 0rem;
/* 	padding-bottom: 1rem; */
	align-items: center;
	padding-left: 3rem;
}

.card-group2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* size: 3rem;
	height: 3rem; */
	padding-bottom: 3rem;
	text-align: center;
}


.card-img-top2{
	/* size: 10px;
	size-adjust: 1px; */
	height: 20vh;
	width: 27vh;
	/* align-items: flex-start; */
/* 	align-content: flex-start; */
}

.card-title2{
	color: #29335C;
	font-size: 2rem;
	/* font-weight: bold; */
	text-align: center;
}


/* 07 SECCION 7 NOVEDADES & FEATURES */

/* Como las tarjetas de esta seccion son identicas a la seccion anterior, no es necesario crear clases nuevas ni modificar nada
 */


 
/* FOOOTER */

/*AA REDES */
.footer1-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 4px;
	place-items: center;
	padding: 1px;
	justify-self: auto;
	background-color: rgb(173, 168, 168);
	padding-top: 2rem;
	margin-top: 2rem;
}

/*AB LINKS */

.footer2-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	place-items: center;
	padding: 1px;
	background-color: rgb(173, 168, 168);
	font-size: 1rem;
	font-weight: lighter;
	color: black;
	padding-top: 2rem;
}

/*AC DISCLAIMER */
.footer3-container {
	display: flex;
	place-items: center;
	padding: 1px;
	justify-self: auto;
	background-color: rgb(173, 168, 168);
	font-size: 1, 5rem;
	font-weight: lighter;
	color: black;
	padding-top: 2rem;
	justify-content: center;
}

/* -------------------------------------------------------------- */
/* DESDE ACA HOJA APIS */

/* HOJA APIS SECCION 01 TABLA */

.table{
		margin-top: 4rem;
		margin-bottom: 4rem;
}

.col{
	color: #af4c83;
}

/* HOJA APIS SECCION 02 COTIZACIONES EN VIVO */

.contcotiza{
	display: flex;
	flex-direction: row;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	margin-top: 1%;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 1px 25px black;
	transition: all 1s ease-in-out;
	width: 50vh;
	border-radius:5%;
	}

	.contcotiza:hover {
		transform: scale(1.1);
		box-shadow: 13px 15px 37px black;
		overflow: hidden;
	}

	@media (min-width: 768px) {
		.contcotiza {
		display: flex;
		margin-left: 550px;
	}
	}	

.activo{
	color: #924a8b;
	font-size: 1,5rem;
	padding-right: 2rem;
}	

.cotiza{
	color: black;
	font-size: 1,5rem;
	padding-right: 2rem;
}

.porcentaje{
	color: #924a8b;
	font-size: 1,5rem;
	padding-right: 2rem;
}

.operar{
	color: #2e10da;
	font-size: 1,5rem;
	padding-right: 2rem;
	text-align: right;
}

/* Estilos agregados JPPE parte PRUEBA DE TEMPLATE */
.product-image{
	width: 300px;
}